{% extends 'base.html' %}

{% block title %}注册{% endblock %}
{% block content %}
    <div class="container" style="margin: 0 auto;max-width: 350px">
        <div class="">
            <form class='form-register' action="/register/" method="post">

            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}

            <h2 class="text-center">欢迎注册</h2>
            <div class="form-group">
              {{ register_form.username.label_tag }}
              {{ register_form.username}}
            </div>
            <div class="form-group">
              {{ register_form.password1.label_tag }}
              {{ register_form.password1 }}
            </div>
            <div class="form-group">
              {{ register_form.password2.label_tag }}
              {{ register_form.password2 }}
            </div>
            <div class="form-group verifyimg reloadverify">
              {{ register_form.captcha.errors }}
              {{ register_form.captcha.label_tag }}
              {{ register_form.captcha }}
            </div>

            <button type="reset" class="btn btn-default ">重置</button>
            <button type="submit" class="btn btn-primary " style="float: right">提交</button>

            </form>
        </div>
    </div> <!-- /container -->
    <!--点击更换图片-->
    <script>
        $(function(){
            // 刷新验证码


            $(".captcha").click(function(){
                url = '/captcha/refresh?' + Math.random()
                $.get(url, function (result) {
                    console.log(result.image_url)
                    $('img[class="captcha"]').attr('src', result.image_url)
                    $('#id_captcha_0').attr('value', result.key)
                })

            });
        })
    </script>

{% endblock %}
